body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.site-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.forum-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.user-posts, .post-creation, .forum-posts {
    width: 48%;
}

.user-posts {
    margin-right: 2%;
}

.user-post {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-creation {
    margin-right: 2%;
}

h2 {
    color: #333;
}

form {
    background: #fff;
    position:center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.content-textarea {
    height: 200px;
}

input[type="submit"] {
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #4cae4c;
}

select.category-dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
}

.post-category {
    color: #808080; 
    font-size: 0.8em; 
    margin-left: 10px; 
}

.post {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h3 {
    margin-top: 0;
}

.post footer {
    color: #777;
    font-size: 0.8em;
}

.user-post footer {
    color: #777;
    font-size: 0.8em;
}


@media (max-width: 768px) {
    .forum-container {
        flex-direction: column;
    }

    .user-posts, .post-creation, .forum-posts {
        width: 100%;
        margin: 0 0 20px 0;
    }
}
